body {
    margin: 0;
    background-image: url(Assets/background.png);
    background-size: cover;

}

img {
    width: 100px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: fly 5s ease-in infinite;
}

@keyframes fly {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -100vh);
    }
}